{
    "semi": true,
    "singleQuote": false,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 100,
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.svg",
            "options": {
                "parser": "html",
                "htmlWhitespaceSensitivity": "ignore"
            }
        },
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
